<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonMail</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="/favicon.png" type="image/png" />
</head>

<body>
    <a href="/">
        <h1>AnonMail</h1>
    </a>
    <br><br>
    <h2 class="notfound">404</h2>
    <h3>Seems like this page doesn't exist!</h3>
    <br><br>
    <a class="btn" href="/">Go back home</a>
</body>

</html>